@tailwind base;
@tailwind components;
@tailwind utilities;

/* NProgress Loading Bar */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #3b82f6;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #3b82f6, 0 0 5px #3b82f6;
  opacity: 1.0;
  transform: rotate(3deg) translate(0px, -4px);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
